asgiref==3.12.1
Django==6.0.7
django-debug-toolbar==7.0.0
django-extension==0.1.0
django-extensions==4.1
dnspython==2.8.0
dotenv==0.9.9
psycopg2-binary==2.9.12
pymongo==4.17.0
python-dotenv==1.2.2
ruff==0.16.0
shelve_cache==0.0.4
sqlparse==0.5.5
