{% extends 'base.html' %}
{% block title %}Lista de libros{% endblock%}

{% block content %}
    <form method="get">
        <input name="search">
        <button>Enviar</button>
    </form>
    <div>
        <ul>
            {% for book in form %}
            
            <div class="bg-gray-200 ml-4 rounded shadow order order-gray-900 hover:bg-gray-900 font-bolt">
                <li class="mt-5 p-4">
                    <p>Titulo: {{book.title}}</p>
                    <p>Numero de paginas: {{book.pages_number}}</p>
                    <p>Editorial: {{book.editorial}}</p>
                    <p>Genero: {{book.gender}}</p>
                    <p>Autor(es): 
                        {% for autores in book.authores.all %}
                            <p class="m-1">{{autores}}</p>
                        {% endfor %}
                    </p>
                </li> 
            <a href="{% url 'detail_book' book.id %}" class="m-3">
                Detalles
            </a>
            </div>
            
            {% endfor %}
        </ul>
    </div>

    <div>
        {% if form.has_previous %}
            {% if request.GET.search %}
                <a class="m-3" href="?search={{request.GET.search}}&page={{form.previous_page_number}}">
                    back
                </a>
            {% else %}
                <a class="m-3" href="?page={{form.previous_page_number}}">
                    back
                </a>
            {% endif %}
        {% endif %}


        {% if form.number %}
            {% if request.GET.search %}
                <a class="m-3" href="?search={{request.GET.search}}&page={{form.number}}">
                    current
                </a>
            {% else %}
                <a class="m-3" href="?page={{form.number}}">
                    current
                </a>
            {%endif%}
        {% endif %}
        
        {% if form.has_next %}
            {% if request.GET.search %}
                <a class="m-3" href="?search={{request.GET.search}}&page={{form.next_page_number}}">
                    next
                </a>
            {% else %}
                <a class="m-3" href="?page={{form.next_page_number}}">
                    next
                </a>
            {% endif %}
        {% endif %}
        </div>
{% endblock %}