<h1 class="font-bold">Menu principal</h1>
<ul>
    <div>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'content_books' %}">Libros</a></li>
        <li><a href="{% url 'content_editorials' %}">Editoriales</a></li>
        <li><a href="{% url 'content_auth' %}">autores</a></li>
        <li><a href="{% url 'contact' %}">Contacto</a></li>
        {%if request.user.is_authenticated %}
            <li><a href="{% url 'link_logout' %}">Logout</a></li>
        {%endif%}
        
    </div>
</ul>