{% extends 'base.html' %}
{% block title %}detalle del author{% endblock%}

{% block content %}
    <div>
        <ul>
            <div class="bg-gray-200 m-3 rounded shadow order order-gray-900 hover:bg-gray-900 font-bolt">
                <li class="m-2">
                    <p>Nombre: {{author.name}}</p>
                    <p>Apellido: {{author.lastname}}</p>
                    <p>Fecha de nacimiento: {{author.born}}</p>
                    <p>Nacionalidad: {{author.nationality}}</p>
                    <p>biografia: {{author.biografia}}</p>
                    <p>Correo electronico: {{author.email}}</p>
                    <p>Telefono: {{author.phone}}</p>
                    <p>Pagina web: {{author.web_site}}</p>
                    <p>Premios: {{author.awards}}</p>
                </li>
                <a class="m-3" href="{% url 'edit_author' author.id %}">Editar</a>
                <a class="m-3" href="{% url 'delete_author' author.id %}">Eliminar</a>
            </div>
        </ul>
    </div>
{% endblock %}